.signin-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  } 
 
  .signin-form-component-header h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 30px 0;
  }
   
  .signin-form .form-group {
    margin-bottom: 10px;
  }
  
  .signin-form-header-text{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .signin-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signin-form input {
    height: 40px;
    padding: 10px;
    width: 80%;
    border: 2px solid rgb(219, 219, 219);
  }
  
  .signin-form button {
    height: 40px;
    background-color: #0d6963;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-top: 20px;
  }
  
  .signin-form button:hover {
    background-color: #0f766e;
  }
  
  .signin-form input,
  .signin-form button {
    border-radius: 4px;
  }

  .dontHaveAccount{
    width: 80%;
    text-align: center;
    margin-top: 20px;
  }
  .dontHaveAccount:hover{
    color: #0d6963;
    cursor: pointer;
  }
  