.acco-container {
    position: relative;
}
.acco-button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.acco-body{
    min-width: 10px !important;
}

.card-img-top{
    max-width: 300px;
    max-height: 300px;
    
}
.collapse{
    box-shadow: none !important;
    width: auto;
}
