.blog-page-large-card {
    width: 600px;
    /* height: 1000px; */
    margin: 0 auto;
}
.blog-page-large-card img {
    border-radius: 10px;
}
.blog-page-large-card-title{
    margin:3px 10px;
    color:#0d9488;
    font-size: 1.5rem; 
    font-weight: bold;
}

.blog-page-large-card-description{
    margin: 3px 10px;
    text-align: justify;
}

.blog-page-large-card-author-date {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px;
    font-weight: bold;
}

.blog-page-large-card-read-more-link {
    color: #0d9488;
}

.blog-page-large-card-read-more-link:hover {
    color: #73d9ad;
}