.cards{
    width:100% ;
    height: 600;
    
  }
  .card{
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.4 cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
    position: relative;
  }
  .card:hover{
    box-shadow: 0px 30px 18px -7px rgba(0, 0, 0, 0.1);
    transform: scale(1.05,1.05);
  }
  .card_img{
    width: 150px;
    height: 150px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
    
  }
  .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card_info{
    background-color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 16px 24px 24px 24px;
    background-color: #fff;
    color: #868686;
  }
  .card_category{
    font-family: "Relay",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 550;
    color: black;
    background-color:#fff;
  }
  .card_title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Relay",sans-serif;
    background-color: #fff;
    text-transform: capitalize;
  }
  
  .btn-bstsell {
    position: absolute;
    top: 55%;
    left: -50px;
    transform: translateY(0);
    background-color:rgba(243, 241, 241, 0.979);
    color: black;
    border: none;
    border-radius: 0%;

    transition: all 0.3s ease-in-out;
  }
  
  .slide-in {
    left: 4%;
    transform: translate(10%, 0%);
  }
  
  .slide-out {
    left: -50px;
    opacity: 0;
  }
  
 