.request-appointment-form-main {
  /* padding-top: 50px; */
}

.request-appointment-form-header{
    background-color: #ff3c46;
    padding: 16px 0;
    text-align: center;
    color: white;
}
.request-appointment-form {
    margin-top: 30px;
    width: 100%;
    background-color: #eaedf1;
    margin-right: 50px;
    margin-bottom: 50px;
}

.request-appointment-form-content {
    padding: 0 24px;
}

.request-appointment-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 20px; */
  }
  
  .request-appointment-form-group {
    margin-bottom: 20px;
    width: calc(50% - 10px);
    flex-grow: 1;
  }
  
  .request-appointment-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .request-appointment-form input,
  .request-appointment-form select
   {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .request-appointment-form textarea{
    width: 97% !important;
    height: 100px;
  }

  .request-appointment-button-container {
    text-align: center;
  }
  .request-appointment-form button[type="submit"] {
    font-size: 20px !important;
    background-color: #ff3c46;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .request-appointment-form button[type="submit"]:hover {
    background-color: #f71b26;
  }