*{
    padding: 3px;
    margin: 2px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6f8;
}
.box-shadow{
    box-shadow: 4px 5px 10px rgba(0,0,0)
}